@import '~bootstrap/scss/bootstrap';

.cursor-pointer {
    cursor: pointer;
}

.score-input {
    width: 5rem;
    height: 1rem;
    padding: 0;
    display: block;
}

.score-input-text {
    height: 0.5rem;
    text-align: center;
    font-size: 80%;
    color: $secondary;
}

.result-bar {
    position: absolute;
    bottom: 0.2rem;
    left: 0;
    width: 0;
    height: 0.5rem;
    background-color: $primary;
}

.pagination {
    margin: 1rem;
    justify-content: center;
}
